*,
*::before,
*::after {
  box-sizing: content-box;
}
h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 106, 172);
  animation-name: color-changer;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
p {
  font-size: 20px;
  font-family:'Times New Roman', Times, serif
}
h2 {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: darkcyan;
}
div {
width: 1250px;
}
body {
  border-style: groove;
  border-color: blueviolet;
  border-width: 30px;
  padding: 25px
}
ul {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
ol {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 143, 162, 0.884);
}
#border {
  border-width: 10px;
}
@keyframes color-changer {
  0% {color:rgb(0, 106, 172);}
  25% {color: rgb(95, 0, 203);}
  50% {color:  rgb(142, 0, 203);}
  75% {color: rgb(95, 0, 203);}
  100% {color:rgb(0, 106, 172);}
}
#colour {
  background-color: rgb(192, 43, 226);
  padding: 20px;
  width: 451px;
}
#left {
  padding: 10px;
}
.music_note {
margin: 10px
}